.DS_Store
**/.DS_Store
example_slides-blx.bib
example_slides.aux
example_slides.blg
example_slides.fdb_latexmk
example_slides.fls
example_slides.log
example_slides.nav
example_slides.run.xml
example_slides.snm
example_slides.syntex.gz
example_slides.toc